//base
@import "./sass/base/fonts.scss";

@import "./sass/base/globaslstyles.scss";

@import "./sass/base/mixin.scss";

@import "./sass/base/reset.scss";

@import "./sass/base/variables.scss";


// components 

@import "./sass/components/buttons.scss";

@import "./sass/components/cards.scss";

@import "./sass/components/forms.scss";

@import "./sass/components/navbar.scss";


@import "./sass/components/textos.scss";
@import "./sass/components/logo.scss";

// Layout 


@import "./sass/Layout/footer.scss";

@import "./sass/Layout/grid.scss";

@import "./sass/Layout/header.scss";

@import "./sass/Layout/sidebar.scss";



// Pages


@import "./sass/pages/about.scss";

@import "./sass/pages/contact.scss";

@import "./sass/pages/home.scss";

@import "./sass/pages/section.scss";

@import "./sass/pages/article.scss";


// Themes 

@import "./sass/themes/dark.scss";

@import "./sass/themes/light.scss";



//vendors 
@import "./sass/vendors/responsive.scss";


.slider {

    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    
}

.slides {

    width: 400%;
    height: 400px;
    display: flex;

}

.slides input{
    display: none;
}

.slide {

    width: 25%;
    position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.slide img {
width: 100%;
display: flex;
justify-content: center;
   align-items: center;
   flex-basis: 3;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 2%;
}

#radio2:checked ~ .first {
    margin-left: -23%;
}

#radio3:checked ~ .first {
   margin-left:-50%;

}

#radio4:checked ~ .first {
    margin-left: -76%;

}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;


}
.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){

    margin-right: 38px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{

    background-color: orange;

}


#radio2:checked ~ .navigation-auto .auto-btn2{

    background-color: orange;

}


#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: orange;

}

#radio4:checked ~ .navigation-auto .auto-btn4{

    background-color: orange;

}



@media screen and (max-width: 768px) {
    .slider {
        width: 90%;
    }
    
    .manual-navigation, .navigation-auto {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .manual-btn, .navigation-auto div {
        padding: 3px;
        margin-right: 10px;
    }
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}