.titulo h1{
    font-size: 7rem;
    color: white;
    z-index: 22;
}


.texto p {
    color: white;
    text-align: justify;
}

.hab {
    display: flex;
    justify-content: center;
}
.hab ul li {
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;
}

.titulo{
    display: flex;
    width: 100%;
}

#titulo{
    opacity: 0;

}
